@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color:#00848c;
        }

        h1 {
            color: #edebd9;
        }

        h3 {
            color: #edebd9;
        }

        h5 {
            color: #fec20f;
        }

    </style>
</head>


<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to synonym world :D</h1>
        <br />
        <br />
        <br />
        <br />
        <h3>
            Synonym: a word or phrase that means exactly or nearly the same as another word or phrase in the same language,
            for example shut is a synonym of close.
        </h3>
        <br />
        <br />
        <h5>
            Fun fact: Did you know that word synonym has its own synonym?
            Synonyms for word synonym are: equivalent, metonym, equivalent word etc. 
        </h5>
    </div>
</body>

</html>



