@{
    ViewData["Title"] = "Warning";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        #form {
            width: 100%;
            text-align: center;
        }

        body {
            background-color: #00848c;
        }

        h3 {
            color: #edebd9;
        }
        h4{
            color: #fec20f;
        }
    </style>
</head>

<body>
    <div id="form">
        <h3 class="display-5">Alert</h3>
        <br />
        <br />
        <h4>@Model.Message</h4>
    </div>

</body>

</html>


